version: "3.9"
services:
  pg:
    image: postgres:17
    container_name: vstax_splatcast
    environment:
      POSTGRES_PASSWORD: vendi7
      POSTGRES_DB: splatcast
    ports: ["5433:5432"]
    volumes: ["pgdata:/var/lib/postgresql/data"]
volumes:
  pgdata: {}

