version: "3.9"

services:
  pg:
    image: postgres:17
    container_name: vstax_splatcast
    environment:
      POSTGRES_PASSWORD: vendi7
      POSTGRES_DB: splatcast
    ports: ["5433:5432"]
    volumes: ["pgdata:/var/lib/postgresql/data"]
    restart: unless-stopped

  zookeeper:
    build:
      context: .
      dockerfile: docker/zookeeper/Dockerfile
      args:
        ZK_URL: ${ZK_URL}
        ZK_URL_FALLBACK: ${ZK_URL_FALLBACK}
        APP_UID: ${APP_UID}
        APP_GID: ${APP_GID}
    container_name: zk
    ports: ["2181:2181"]
    volumes: ["zk-data:/data/zookeeper"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc -w 2 127.0.0.1 2181 | grep -q imok"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s

  kafka:
    build:
      context: .
      dockerfile: docker/kafka/Dockerfile
      args:
        KAFKA_URL: ${KAFKA_URL}
        KAFKA_URL_FALLBACK: ${KAFKA_URL_FALLBACK}
        APP_UID: ${APP_UID}
        APP_GID: ${APP_GID}
    container_name: kafka
    depends_on: [zookeeper]
#      zookeeper:
#        condition: service_healthy
    environment:
      BROKER_ID: 1
      KAFKA_ZK_CONNECT: "zookeeper:2181"
      # Simple two listeners: internal (9092) + external (29092)
      KAFKA_LISTENERS: "INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092"
      KAFKA_ADVERTISED_LISTENERS: "INTERNAL://kafka:9092,EXTERNAL://localhost:29092"
      KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    ports: ["29092:29092"]
    volumes: ["kafka-data:/data/kafka"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 9092"]
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 15s

volumes:
  pgdata: {}
  kafka-data: {}
  zk-data: {}


